# Miscellaneous
 *.class
 *.log
 *.pyc
 *.swp
 .DS_Store
 .atom/
 .buildlog/
 .history
 .svn/

 # Flutter/Dart/Pub related
 **/doc/api/
 **/ios/Flutter/.last_build_id
 .dart_tool/
 .flutter-plugins
 .flutter-plugins-dependencies
 .packages
 .pub-cache/
 .pub/
 /build/

 # Android related
 **/android/.gradle
 **/android/captures/
 **/android/local.properties
 **/android/**/GeneratedPluginRegistrant.java

 # iOS/Xcode related
 **/ios/Flutter/App.framework
 **/ios/Flutter/Flutter.framework
 **/ios/Flutter/Generated.xcconfig
 **/ios/Flutter/flutter_export_environment.sh
 **/ios/**/config/sdk.xcconfig
 **/ios/**/GeneratedPluginRegistrant.h
 **/ios/**/GeneratedPluginRegistrant.m
 **/ios/Pods/
 **/ios/.generated/
 *.ssjs

 # IntelliJ related
 *.iml
 *.ipr
 *.iws
 .idea/

 # Visual Studio Code related
 .vscode/
